body
{
    margin: 0;
    padding: 0;
    background-image: url(../images/img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
input
{
   /* margin-left: 500px;
    margin-top: 100px;
    padding:0px;
     margin-left: 500px;
    width: 300px;
    height: 25px;*/
    width: 100%;
    margin-bottom: 20px;
     border: 1px solid black;
    border-radius: 3px;
        
}
.btn
{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    outline: none;
    height:30px;
    color:#fff;
    font-size: 16px;
    background: rgb(255 ,38 ,126);
    cursor: pointer;
    border-radius: 20px;
     /*margin-left: 600px;
    width: 100px;
    height: 30px;*/
}
/*p
{
    margin-left: 400px;
    padding: 0px;
    margin-top: 30px;
    
    width: 300px;
    height: 15px;
    
}*/
.signin
{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 420px;
    padding: 80px 40px;
    background: rgba(0,0,0,0.5);
    box-sizing: border-box;
    border-radius: 20px;
}
h2
{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
   
}
.signin input[type="email"], .signin input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 20px;
    color: #fff;
    font-size: 16px;
}
.signin a
{
    color:#fff;
    font-size: 14px;
    font-weight:bold;
}
::placeholder
{
    color: rgba(255,255,255,0.5);
}